body {
    background-color: lightgray;
}


#container {
    display: flex;
    padding: 50px;
    align-items: flex-start;
    justify-content: center;
    width: auto;
}

.box {
    max-width: 100%;
    max-height: 400px;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    margin: 15px;
    background-color: white;
}


.previewContainer {
    align-self: center;
    display: flex;
    height: 500px;
    width: 800px;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    padding: 10px;
    background-color: lightblue;
    flex-wrap: wrap;
    margin: 10px;
}

.previewBox {
    cursor: pointer;
    align-items: center;
    width: 150px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: lightgray;
}

#previewImage {
    width: 150px;
    height: 100px;
    background-color: white;
}

#video {
    order: -1;
    max-width: 100%;
    max-height: 100%;
    margin: 100px;
}

.text {
    box-sizing: border-box;
    font: italic;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin: auto;
    padding: 10px;
    background-color: white;
    flex-wrap: wrap;
}

h1, h2 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image-box img {
    max-width: 100%;
    max-height: 400px;
}

.quote {
    font-style: italic;
    margin-bottom: 20px;
}

.source {
    font-size: 12px;
    font-style: italic;
    color: #999;
}

